{% extends 'base.html.twig' %}

{% block title %}Connecter{% endblock %}
 {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

{% block body %}
</div>

<section id="login">
    <div class="container d-flex justify-content-center">
        <form class="align-items-start" method="post" width="50%">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="my-3">
                    vous êtes connecté en tant que  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="mb-5">Veuillez vous connectez</h2>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-1 mb-4" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control mt-1 mb-4" autocomplete="current-password" required>
           
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

        <button class="btn btn-lg btn-yellow mt-3" type="submit">
                Connexion
            </button>
         <p class="pageconnexion"> Vous n'arrivez pas vous connectez ? <a href="http://127.0.0.1:8000/reset-password">reinitialiser sont mot de passe</a></p>
        </form>
    </div>
</section>
{% endblock %}

