{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
</div>
<section id="home">
    {% if app.user.pseudonyme is defined %}
        <h2 class="mb-5">Bienvenue <strong>{{ app.user.pseudonyme }}</strong> 😃</h2>
    {% else %}
        <h2 class="mb-5">Veuillez vous inscrire ou vous connecter nouvel utilisateur 😃</h2>
    {% endif %}
</section>
{% endblock %}
