{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
</div>

<section id="register">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <h2 class="mb-5">Inscription</h2>

        {{ form_start(registrationForm) }}
            <div class="reg-form">
            {{ form_row(registrationForm.pseudonyme, {'attr': {'class': 'mt-1 mb-4'}}) }}

            {{ form_row(registrationForm.email, {'attr': {'class': 'mt-1 mb-4'}}) }}
            
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :',
                'attr': {'class': 'mt-1 mb-4'}
            }) }}
            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'mt-1 mb-4'}}) }}

            <button type="submit" class="btn btn-yellow mt-3">Inscription</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
</section>
{% endblock %}

