{% extends 'base.html.twig' %}

{% block title %}Envoi du courriel de réinitialisation du mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, vérifiez votre dossier de courrier indésirable (spam) ou votre adresse e-mail 
    <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
