{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdmin 3' %}


{% block content %}

  <div class="container">
  <h1 class="">Bienvenue sur le pannel d'administration !</h1>
    <div class="row">
        <div class="col-3 alert-info">
        
            <span class="display-2"> {{ countUser ['value']}} </span> Utilisateurs
        </div>
        <div class="col-3 alert-success">
            <span class="display-3"> {{ countJeux ['value']}}  </span> jeux
        </div>
        <div class="col-3 alert-info">
        
            <span class="display-3"> {{ countGenre ['value']}} </span> genres
        </div>
        <div class="col-3 alert-success">
            <span class="display-3"> {{ countNotes ['value']}}  </span> notes
        </div>
    </div>
</div>

  

   
{% endblock %}
