{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}

<section class="types">

    {% for genre in genres %}
        <article>
            <h2>{{ genre.title }}</h2>
            <div class="content">
                <img src="{{ genre.image }}" alt="">
                <p>{{ genre.description | raw }}</p>
            </div>
        </article>
    {% endfor %}
</section>

{% endblock %}
 