{% extends 'base.html.twig' %} 

{% form_theme formFav 'bootstrap_5_layout.html.twig' %}


{% block body %}

{% if game.favorite == false %}
<p>Votre favori a bien été supprimé</p>
{% else %}
<p>Votre favori a bien été ajouté</p>
{% endif %}
<a class="nav-link" aria-current="page" href="{{ path('games') }}?fav">Retour favoris</a>
            
{% endblock %}
