{% extends 'base.html.twig' %}

{% block title %}
    {% if (app.request.requestUri == '/games?fav') %}
        Favoris
    {% else %}
        Jeux
    {% endif %}
{% endblock %}

{% block body %}

</div>

<section id="games">
    {% if (app.request.requestUri == '/games?fav') %}
    <h2>Favoris</h2>
    {% else %}
    <h2>Jeux</h2>
    {% endif %}
</section>

<div class="container py-3">
    <div class="row align-items-center">
        <div class="col-6">
            <form class="flex-row" id="filters" method="get" action="">
                <label class="mx-2" for="genres[]">Genres</label>
                    <select name="genres[]" id="genres[]" multiple>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}">{{ genre.title }}</option>
                    {% endfor %}
                    </select>
                <button type="submit" class="btn btn-yellow mx-3 w-25">Filtrer</button>
            </form>
        </div>
        <div class="col-6">
            <form class="flex-row" id="order" method="get" action="">
                <label class="mx-2" for="order">Ordre</label>
                    <select name="order" id="order">
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>
                <button type="submit" class="btn btn-yellow mx-3 w-25">Valider</button>
            </form>
        </div>
    </div>

    <div class="row results-list">
        {% for game in games %}
        <div class="col cards-container d-flex justify-content-evenly">
            <div class="card-one">
                <header>
                    <div class="image">
                        <img src="{{ asset('uploads/images_games/' ~ game.image) }}" alt="photo jeux" />
                    </div>
                </header>
                <div class="infos">
                    <h3><strong>{{ game.title }}</strong></h3>
                </div>
                <div class="desc">
                    <p>{{ game.description | raw }}</p>
                </div>
                <div class="promotion">
                    {% for genre in game.genres %}
                    <p class="promotion-bordure">{{ genre }}</p>
                    {% endfor %}
                </div>
                <div class="skills row">
                    <p> Crée le {{ game.date | date('d/m/Y') }} à {{ game.date | date('H:i')}}</p>
                </div>

                <footer>
                    <a href="{{ game.url }}" target="_blank"><i class="fas fa-gamepad mr-1"></i>Jouer</a>
                    <a href="{{ path('games_show', {'id' : game.id}) }}"><i class="fas fa-book-reader mr-1"></i>Avis</a>
                        {% if app.user.pseudonyme is defined %}
                            {% if game.favorite == true %}
                                <a href="{{ path('games_fav', {'id' : game.id}) }}" <i class="fas fa-heart coeur"></i></a>
                            {% else %}
                                <a href="{{ path('games_fav', {'id' : game.id}) }}" <i class="far fa-heart"></i></a>
                            {% endif %}
                        {% else %}
                        {% endif %}
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>

{% endblock %}
