{% extends 'base.html.twig' %} 

{% form_theme formNote 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ game.title }}{% endblock %}

{% block body %}
</div>
<section id="show" class="d-flex flex-column py-5">
    <div class="row mt-3">
        <div class="title d-flex align-items-center mb-3">
            <h2 class="mr-5">{{ game.title }}</h2>
            {% if game.favorite == true %}
                <a href="{{ path('games_fav', {'id' : game.id}) }}" <i class="fas fa-heart coeur fa-3x m-left"></i></a>
            {% else %}
            <a href="{{ path('games_fav', {'id' : game.id}) }}" <i class="far fa-heart fa-3x m-left"></i></a>
            {% endif %}
        </div>  
    </div>

    <div class="row text-center">  
        <div class="note mb-4">
            {% if avg.content|number_format(1) != 0 %}
                <div class="Stars" style="--rating: {{ avg.content|number_format(1) }}">{{ avg.content|number_format(1) }}/5</div>
            {% else %}
                <div class="Stars" style="--rating: {{ avg.content|number_format(1) }}">Non noté</div>
            {% endif %}
        </div>      
        <div class="metadata">
            <em><p class="mb-3">Crée le {{ game.date | date('d/m/Y') }} à {{ game.date | date('H:i')}}</p></em>
        </div>
        {% if game.genres|length == 0 %}
            <div class="genres mb-4">
                Aucun genre défini.
            </div>
        {% endif %}

        {% if game.genres|length == 1 %}
            {% for genre in game.genres %}
                <div class="genres mb-3">
                    <strong><u>Genre :</u></strong> {{genre}}
                </div>
            {% endfor %}
        {% endif %}

        {% if game.genres|length > 1 %}
            <div class="genres mb-3">
                <strong><u>Genres :</u></strong>
                {% for genre in game.genres %}
                    {{genre}}
                {% endfor %}
            </div>
        {% endif %}
        </div> 
    </div>

    <div class="row align-items-center">
        <div class="col-6 d-flex justify-content-center">
            <img src="{{ asset('uploads/images_games/' ~ game.image) }}" alt="image jeu" width="300px">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <p>{{ game.description | raw }}</p>
        </div>
    </div>
</section>
  
<div class="container coms my-5">
    <div class="row d-flex">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-3">Commentaires<h2>
            </div>
            {% for note in game.notes %}
                {% if note.etat == 1 %}
                    <div class="card py-3 my-3">
                        <div class="d-flex justify-content-between align-items-center mx-3">
                            <div class="user d-flex flex-row align-items-center"> 
                                <span>
                                    <strong><small class="font-weight-bold pseudo mr-2">{{ note.user.pseudonyme }}</small></strong>
                                    <small class="font-weight-bold">{{ note.description }} </small>
                                </span> 
                            </div> 
                            <small>{{ note.date | date('d/m/Y') }} à {{ note.date | date('H:i')}}</small>
                        </div>
                        <div class="Stars_min mx-3" style="--rating: {{ note.note }}"></div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<section id="comment">
    <div class="container d-flex flex-column align-items-center justify-content-center">
        {% if app.user.pseudonyme is defined %}
        <h2 class="mb-5">Ajouter un commentaire</h2>
            {{ form_start(formNote) }}
            <div class="reg-form">

            {{ form_label(formNote.description) }}
            {{ form_widget(formNote.description, {'attr': {'class': 'mt-1 mb-4'}}) }}

            {{ form_label(formNote.note) }}
            {{ form_widget(formNote.note, {'attr': {'class': 'mt-1 mb-4'}}) }}    
            <button type="submit" class="btn btn-yellow mt-3">Envoyer</button>
            </div>
            {{ form_end(formNote) }}
        {% else %}
        <label>Veuillez vous <u><a href="{{ path('app_login') }}">connecter</a></u> pour ajouter un avis.</label>
        {% endif %}
    </div>
</div>
{% endblock %}
