<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.0-beta.1/dist/axentix.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/axentix@2.0.0-beta.1/dist/axentix.min.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}"><i class="fas fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-right">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('games') }}">Jeux</a>
                    </li>
                    {% if (app.user != null) %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('games') }}?fav">Favoris</a>
                    </li>
                    {% else %}
                    {% endif %}

                    {% if app.user.roles is defined %}
                        {% if (app.user.roles[0] == 'ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('admin') }}">Admin</a>
                        </li>
                        {% else %}
                        {% endif %}
                    {% else %}
                    
                    {% endif %}
                </ul>
                <ul class="navbar-nav m-left">
                    {% if (app.user != null) %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
